

{% include particle_bg.html %}




<div id="home">
    
        
    </ul>
            
    <ul class="schedule-col" style="text-align: left !important;">
        <li class="schedule-head">Sunday April 1st</li>
        <li>8:00am - Breakfast</li>
        <li>10:00am - Devpost Submissions Close!</li>
        <li>12:00pm - Demos & Lunch</li>
        <li>2:00pm - Final Judging Decisions</li>
        <li>3:00pm - Closing Ceremonies</li>
    </ul>
    

</div>



<!--Particle js-->
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<!--Particle js-->
<script src="{{ site.baseurl }}/assets/js/particles_settings.js"></script>


