

{% include particle_bg.html %}




<div id="home">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="jquery.slides.min.js"></script>
    
    <script>
        $(function(){
          $("#slides").slidesjs({
                                width: 940,
                                height: 528
                                });
          });
    </script>
    
    <div id="slides">
            <div><img data-u="image" src="{{site.baseurl}}/assets/images/ottawa/image1.jpg" /></div>
            <div><img data-u="image" src="{{site.baseurl}}/assets/images/ottawa/image2.jpg" /></div>
    </div>
    
    
    

</div>


<script type="text/javascript">
</script>
<!--Particle js-->
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<!--Particle js-->
<script src="{{ site.baseurl }}/assets/js/particles_settings.js"></script>

