<div id="subscribe" class="section container dark">
    
<h2 class="contact-title">
    订阅好玩的活动
</h2><hr>
<p class="contact-subtitle">订阅后您能收到最新活动提醒，可随时取消</p>



<form id="contact-form" method="POST" class="contact-form">
    <!--input type="text" name="name">
     <input type="email" name="_replyto"-->
    <div class="form-group">
        
        <div class="input-group">
            <span class="input-group-addon">Email</span>
            <input name="email" type="email" placeholder="请输入您的邮箱地址" class="form-control" required>
                </div>
        
        <input id="contact-button" type="submit" value="提交">
            </div>
</form>

<script>
    var $contactForm = $("#contact-form");
    $contactForm.submit(function(e) {
        e.preventDefault();
        $.ajax({
            url:"https://formspree.io/haowan.ca@gmail.com",
            method: 'POST',
            data: $(this).serialize(),
            dataType: 'json',
            beforeSend: function() {
                $contactForm.append('<div class="alert form-alert alert--loading">Sending message…</div>');
            },
            success: function(data) {
                $contactForm.find('.alert--loading').hide();
                $contactForm.append('<div class="alert form-alert alert--success"> <i style="margin-right:5px;" class="fa fa-smile-o" aria-hidden="true"></i> Message sent!</div>');
                $contactForm.trigger("reset");
            },
            error: function(err) {
                $contactForm.find('.alert--loading').hide();
                $contactForm.append('<div class="alert form-alert alert--error"><i style="margin-right:5px;" class="fa fa-frown-o" aria-hidden="true"></i> Oops, there was an error.</div>');
            }
        });
    });
</script>
</div>

